<!-- core no touch code -->
<button
  (click)="openModal('promo')"
  class="ui:button type:button theme:primary style:small.round"
>
  abrir modal de promocion
</button>
<button
  (click)="openModal('brochure')"
  class="ui:button type:button theme:primary style:small.round"
>
  abrir modal de descarga pdf
</button>
<button
  (click)="openModal('contacto')"
  class="ui:button type:button theme:primary style:small.round"
>
  abrir formulario
</button>
<button
  (click)="openModal('whatsapp')"
  class="ui:button type:button theme:primary style:small.round"
>
  abrir whatsApp
</button>
<button
  (click)="openModal('privacy')"
  class="ui:button type:button theme:primary style:small.round"
>
  abrir aviso de privacidad
</button>

<app-modal-gallery></app-modal-gallery>
