<div class="ui:modal" id="contacto_general">
  <div class="ui:modal--overlay" [ngClass]="{ show: show }"></div>
  <div class="ui:modal--modal from:bottom" [ngClass]="{ show: show }">
    <div class="ui:modal--modal_content">
      <app-contact-form
        action="Enviar mis datos"
        formType="contacto"
        title="Contáctanos"
        subtitle="Llena tus datos para poder brindarte una mejor atención"
        (close)="closeModal()"
        (submit)="closeModal()"
      ></app-contact-form>
    </div>
  </div>
</div>

<div class="ui:float_form" (click)="showModal()">Agenda una cita</div>
