<div class="menu">
    <div class="imagen">
        <img src="../../../assets/icons/logo.png" alt="">
    </div>
    <div class="enlaces">
        <div class="contenedor1"> <a class="enlace" href="">Contacto</a> </div>
       <div class="contenedor1"><a class="enlace" href="">Lotes saltillo</a></div>
       <div class="contenedor1">  <a class="enlace" href="">Lotes en Ramos arizpe</a></div>
       <div class="contenedor1"> <a class="enlace" href="">Local comercial</a></div>
   
        
      
        </div>
</div>

<section class="sesion1">
    <img style="z-index: -1;" src="../../../assets/brand/portada.jpg" alt="">

    <div class="container1">
        <div class="hijo-container1">
            <img src="../../../assets/brand/logo2.png" alt="" class="logo2">
            <div class="futuro"><h1>El futuro de tu negocio</h1>
                <h2>empieza aquí.</h2></div>

<p class="modi">Conoce las diferentes opciones que tenemos para ti.</p>
        </div>
<div class="container1-button"><button>Mas informacion</button></div>
    </div>

</section>

<section class="sesion2">
    <div class="centrar"> 
    <h1>Lotes con uso de suelo comercial disponibles en diferentes zonas consolidadas y de crecimiento</h1>
    </div>
<div class="conn">
    <img src="../../../assets/brand/anterior.jpeg" (click)="atrasar()" class="anterior">
    <img src="../../../assets/brand/siguiente.jpeg" (click)="adelantar()"  class="siguiente" alt="Siguiente">

    <div class="container2">
     
        <div class="hijos">
            

                                                                
            <img class="hijos-imagen1" src="../../../assets/icons/foret.png" alt="">
            <div class="icono1 iconodif">   
            <svg class="hijos_imagen2" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7z"></path>
                <circle cx="12" cy="9" r="2.5"></circle>
              </svg>
            <p class="locacionp"> Al Sur de Saltillo. </p>         
            </div>     
            <img class="mapi" src="../../../assets/brand/mapi.png" alt=""> 
<div class="icono2">
    <img src="../../../assets/icons/Houses.svg" alt="">
    <p>Proyección de habitantes: 9,176.</p>
</div>

<div class="icono3">
    <img src="../../../assets/icons/Houses.svg" alt="">
    <p class="err">En fraccionamiento nuevo compuesto por un total de 348 viviendas</p>
</div>

<div class="icono3">
    <img src="../../../assets/icons/car.svg" alt="">
    <div class="kk"> 
        <p class="err">En fraccionamiento nuevo compuesto por un total de 348 viviendas</p>
        <ul>
            <li>A 320 mts. aprox. de Calzada Antonio Narro.</li>
           
        </ul>
    </div>
  
</div>

<div class="button-1">
    <button class="button-11">Mas informacion1</button>
</div>
        </div>
        <div class="hijos">


            <img class="hijos-imagen1" src="../../../assets/icons/foret.png" alt="">
            <div class="icono1">   
            <svg class="hijos_imagen2" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7z"></path>
                <circle cx="12" cy="9" r="2.5"></circle>
              </svg>
            <p class="locacionp"> Al Sur de Saltillo. </p>         
            </div>     
            <img class="mapi" src="../../../assets/brand/mapi.png" alt=""> 
<div class="icono2">
    <img src="../../../assets/icons/Houses.svg" alt="">
    <p>Proyección de habitantes: 9,176.</p>
</div>

<div class="icono3">
    <img src="../../../assets/icons/Houses.svg" alt="">
    <p>En fraccionamiento nuevo compuesto por un total de 348 viviendas</p>
</div>

<div class="icono3">
    <img src="../../../assets/icons/car.svg" alt="">
    <div class="kk"> 
    <p>En fraccionamiento nuevo compuesto por un total de 348 viviendas</p>
    <ul>
        <li>A 320 mts. aprox. de Calzada Antonio Narro.</li>
        <li>A 500 mts. aprox. de vialidad principal Blvd. Pino Real.</li>
        <li>A 216 mts. aprox. de escuela.</li>
    </ul>
</div>
</div>

<div class="button-1">
    <button class="button-11">Mas informacion2</button>
</div>
        </div>
        <div class="hijos">

            <img class="hijos-imagen1" src="../../../assets/icons/foret.png" alt="">
            <div class="icono1">   
            <svg class="hijos_imagen2" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7z"></path>
                <circle cx="12" cy="9" r="2.5"></circle>
              </svg>
            <p class="locacionp"> Al Sur de Saltillo. </p>         
            </div>     
            <img class="mapi" src="../../../assets/brand/mapi.png" alt=""> 
<div class="icono2">
    <img src="../../../assets/icons/Houses.svg" alt="">
    <p>Proyección de habitantes: 9,176.</p>
</div>

<div class="icono3">
    <img src="../../../assets/icons/Houses.svg" alt="">
    <p>En fraccionamiento nuevo compuesto por un total de 840 viviendas.</p>
</div>

<div class="icono3">
    <img src="../../../assets/icons/car.svg" alt="">
    <div class="kk kakas"> 
        <p>Lotes comerciales a 148 metros de acceso principal del fraccionamiento.</p>
        <ul>
            <li>A 50 mts. aprox. de escuela</li>
        </ul>
    </div>
   
</div>

<div class="button-1">
    <button class="button-11">Mas informacion3</button>
</div>
        </div>
    </div>

</div>
</section>

<section class="sesion3">
    <img class="fondo2" src="../../../assets/brand/fondo2.jpg" alt="">
    <div class="container3"> 
    
        <div class="first-item"> 
            <div class="header">
                <div class="cc"> 
                <img src="../../../assets/brand/peña.png" alt="">
            </div>
            <div id="centrar"><h1>Local comercial</h1></div>

            </div>

            <div class="country">
                <div>Sur Oriente de Saltillo.</div>
                <div>Lote: 711.74 m2
                    Construcción: 85 m2</div>
            </div>


            <div class="gri">
                <div class="hijos2"><img src="../../../assets/brand/img1.png" alt=""></div>
                <div class="hijos2"><img src="../../../assets/brand/img2.png" alt=""></div>
                <div class="hijos2"><img class="jj" src="../../../assets/brand/img3.png" alt=""></div>
            </div>
            <div class="aboh">
                <div> <p>Ubicado sobre acceso principal del fraccionamientod</p>
                    <p class="ojala">A aproximadamente 80 mts. de centro comunitario.</p></div>
                
            </div>
            <div class="abusoflex"> 
            <button class="mas">Mas informacion</button>
        </div>
</div>
</div>
</section>


<section class="sesion4">
    <div class="hijo_conpadding">
        <h1  class="conoce">Conoce los detalles de cada uno de nuestros lotes</h1>
        <div class="tab">
            <div class="hijo_tab">FORET</div>
            <div class="hijo_tab">REAL DEL VALLE</div>
            <div class="hijo_tab">PARAJES DE LOS PINOS</div>
        </div>
        <div class="container4">
            <div class="fafafaf"> 
            <div class="item1">
                <div class="lk mm">
                    <img src="../../../assets/icons/location.svg" alt="">
                </div>
                <div class="texta"><p>Saltillo, Coahuila</p></div>
            </div>

            <div class="item2">
                <div class="lk">
                    <img src="../../../assets/icons/Houses.svg" alt="">
                </div>
                <div class="texta"><p>Proyección de habitantes: 1,392.</p></div>
            </div>
            <div class="item2">
                <div class="lk">
                    <img src="../../../assets/icons/Houses.svg" alt="">
                </div>
                <div class="texta"><p>En fraccionamiento nuevo compuesto por un total de 348 viviendas.</p></div>
            </div>
            <div class="item2">
                <div class="lk">
                    <img src="../../../assets/icons/car.svg" alt="">
                </div>
                <div class="texta"><p>Frente a vialidad y en acceso del fraccionamiento.
                    Ideal para locales comerciales  sobre la calle principal Francisco I. Madero.
                    A 320 mts. aprox. de Calzada Antonio Narr</p></div>
            </div>
            <div class="item2">
                <div class="lk">
                    <img src="../../../assets/icons/Houses.svg" alt="">
                </div>
                <div class="texta textaa"><p>Precio por m2: $4,800.00 mxn.</p>
            <p class="above_texta">*El precio no incluye gastos de escrituración. Vigencia Enero - Marzo 2025.</p>
                </div>
            </div>
        </div>

        <div class="fofana">
            <img src="../../../assets/brand/foret.png" alt="">
            <button class="detalles">Ver detalles</button>
        </div>

        <div class="fofana2">
            <img src="../../../assets/brand/glorieta.png" alt="">
        </div>

        </div>
    </div>
</section>

<div class="hero">
    <div class="heropadre">
        <div class="hero-content">
            <h1>CONOCE TODA LA INFORMACIÓN DE <br> NUESTROS LOTES Y LOCALES</h1>
            <p>Descarga nuestro folleto para ver la información completa.</p>
          </div>
          <div class="form-container">
            <h2>Obtén toda la información llenando tus datos</h2>
            <input type="text" placeholder="Nombre" />
            <input type="text" placeholder="Apellido" />
            <input type="text" placeholder="Celular" />
            <button>DESCARGAR FOLLETO</button>
          </div>
          
         </div>
    
  </div>
  <section class="sesion5">
    <img class="fondo3" src="../../../assets/brand/fondo3.jpg" alt="">
    <div class="hijo_sesion5">
        <h1 class="lugar-indicado">El lugar indicado para tu próximo negocio</h1>
        <div class="grid-sesion5">
         
            <div class="hijo-grid5">
           <div class="centrar2"> 
                <img class="peña2" src="../../../assets/brand/peña.png" alt="">
            </div>
            <div class="cv">
                <img src="../../../assets/brand/group.png" alt="">
                <div class="cv-item"><p class="cv-item-p1">Lote: 711.74 m2
                    Construcción: 85 m2</p></div>
            </div>
            <div class="cv">
                <img src="../../../assets/icons/location.svg" alt="">
                <div class="cv-item"><p class="cv-item-p1">Saltillo, Coahuila</p>
                <ul class="ul2">
                    <li>Acceso con cancelería.</li>
                    <li>Estacionamiento para 5 autos.</li>
                    <li>Área de lobby.</li>
                    <li>2 módulos interiores.</li>
                    <li>1 módulo con acceso independiente.</li>
                    <li>2 medios baños.</li>
                    <li>Cisterna y equipo de bombeo</li>
                    <li>2 minisplits.</li>
                </ul>
                </div>
            </div>
            <div class="cv">
                <img src="../../../assets/icons/car.svg" alt="">
                <div class="cv-item"><p class="cv-item-p2">Frente a Blvd. Principal, en esquina.</p></div>
            </div>

            <div class="cv">
                <div class="circular"> <img src="../../../assets/brand/dolar.png" alt=""></div>
                
                <div class="cv-item"><p class="cv-item-p2">Precio: $4,880,000.00 mxn.</p>
                <p class="cv-item-p3">*El precio no incluye gastos de escrituración. Vigencia Enero - Marzo 2025.</p></div>
            </div>
            </div>

            <div src="../../../assets/brand/anuncio.jpg" alt="" class="imagen2">
                <img src="../../../assets/brand/ruba.jpg" alt="" >
            </div>
<div class="centrar3"> 
            <button class="nene">nenjdjdene</button>
        </div>
        </div>

    </div>
  </section>



  <footer class="footer">
    <div class="footer-content">
        <div class="footer-section sesiond">
            <img src="../../../assets/brand/logo2.png" alt="">
            
            <p class="cuatro">NO TE PIERDAS DE ESTA GRAN OPORTUNIDAD PARA COMENZAR TU NEGOCIO O HACERLO CREECER.</p>
            <p class="cinco">Envíanos un mensaje para que un asesor se contacte contigo a la brevedad.</p>
           <div class="fin">
            <p>Aviso de privacidad</p>
            <p>Terminos y condiciones</p>
            <p>Contratos de adhesión</p>
           </div>
        </div>
        <div class="footer-section">
            
            
        </div>
       
    </div>
</footer>