<IfModule mod_rewrite.c>
    RewriteEngine On

    # Establecer index.html como archivo predeterminado
    DirectoryIndex index.html

    # Redirige todas las solicitudes al archivo index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>
